# .dockerignore
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git/
.gitignore
.env
.env.*
*.md
.vscode/
.idea/
*.log
dist/
coverage/
.DS_Store
client/.vite/
client/cypress/
client/coverage/
*.test.js
*.spec.js